argon2-cffi==20.1.0
attrs==19.3.0
backcall==0.2.0
bleach==3.3.0
certifi==2020.6.20
cffi==1.14.1
chardet==3.0.4
colorama==0.4.3
cryptography==3.3.2
cssselect==1.1.0
cycler==0.10.0
decorator==4.4.2
defusedxml==0.6.0
entrypoints==0.3
ipykernel==5.3.4
ipython==7.31.1
ipython-genutils==0.2.0
ipywidgets==7.5.1
jedi==0.17.2
Jinja2==2.11.3
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==6.1.6
jupyter-console==6.1.0
jupyter-core==4.6.3
kiwisolver==1.2.0
lxml==4.6.5
MarkupSafe==1.1.1
matplotlib==3.3.0
mistune==0.8.4
nbconvert==5.6.1
nbformat==5.0.7
notebook==6.4.12
numpy==1.22.0
packaging==20.4
pandas==1.1.0
pandocfilters==1.4.2
parso==0.7.1
pdfminer.six==20200726
pdfquery==0.4.3
pickleshare==0.7.5
Pillow>=8.1.1
prometheus-client==0.8.0
prompt-toolkit==3.0.6
pycparser==2.20
Pygments==2.7.4
pyparsing==2.4.7
pyquery==1.4.1
pyrsistent==0.16.0
python-dateutil==2.8.1
pytz==2020.1
pywin32==301
pywinpty==0.5.7
pyzmq==19.0.2
qtconsole==4.7.5
QtPy==1.9.0
roman==3.3
Send2Trash==1.5.0
six==1.15.0
sortedcontainers==2.2.2
terminado==0.8.3
testpath==0.4.4
tornado==6.0.4
traitlets==4.3.3
wcwidth==0.2.5
webencodings==0.5.1
widgetsnbextension==3.5.1
wincertstore==0.2
