appdirs==1.4.3
asn1crypto==0.24.0
attrs==18.1.0
Automat==0.7.0
backcall==0.1.0
bleach==2.1.4
certifi==2018.10.15
cffi==1.11.5
chardet==3.0.4
colorama==0.3.9
constantly==15.1.0
cryptography==2.3.1
cssselect==1.0.3
cycler==0.10.0
decorator==4.3.0
entrypoints==0.2.3
et-xmlfile==1.0.1
graphviz==0.9
html5lib==1.0.1
hyperlink==18.0.0
idna==2.7
incremental==17.5.0
ipykernel==4.8.2
ipython==6.5.0
ipython-genutils==0.2.0
jdcal==1.4
jedi==0.12.1
Jinja2==2.10.1
jsonschema==2.6.0
jupyter-client==5.2.3
jupyter-core==4.4.0
kiwisolver==1.0.1
lxml==4.2.4
MarkupSafe==1.0
matplotlib==2.2.2
mistune==0.8.3
mkl-fft==1.0.4
mkl-random==1.0.1
nbconvert==5.3.1
nbformat==4.4.0
notebook>=5.7.2
numpy==1.15.3
openpyxl==2.5.6
pandas==0.23.4
pandocfilters==1.4.2
parso==0.3.1
patsy==0.5.0
pdfminer.six==20170720
pdfquery==0.4.3
pickleshare==0.7.4
prometheus-client==0.3.1
prompt-toolkit==1.0.15
pyasn1==0.4.4
pyasn1-modules==0.2.2
pycparser==2.18
pycryptodome==3.6.6
Pygments==2.2.0
pyOpenSSL==18.0.0
pyparsing==2.2.0
PyPDF2==1.26.0
pyquery==1.4.0
python-dateutil==2.7.3
pytz==2018.5
pywin32==223
pywinpty==0.5.4
pyzmq==17.1.2
roman==3.0
Send2Trash==1.5.0
service-identity==17.0.0
simplegeneric==0.8.1
singledispatch==3.4.0.3
sip==4.19.12
six==1.11.0
tabulate==0.8.2
terminado==0.8.1
testpath==0.3.1
tornado==5.1
traitlets==4.3.2
twisted>=19.2.1
typing==3.6.6
wcwidth==0.1.7
webencodings==0.5.1
wincertstore==0.2
xlrd==1.1.0
XlsxWriter==1.1.0
zope.interface==4.5.0
